[Bb]in/
[Oo]bj/
.vs/
.vscode/
TestResults/
artifacts/
.plan/

*.user
*.rsuser
*.suo
*.userprefs
*.pidb
*.svclog
*.pdb

*.db
*.db-shm
*.db-wal
*.apk
*.aab
*.ap_
*.keystore
*.jks
*.mobileprovision

node_modules/
package.json
package-lock.json
tmp/

_ReSharper*/
*.DotSettings.user
.idea/

src/FoodTrack.Mobile/.gradle/
src/FoodTrack.Mobile/.android/
src/FoodTrack.Mobile/*.keystore
