[Bb]in/
[Oo]bj/
.vs/
.vscode/
TestResults/
artifacts/

*.user
*.rsuser
*.suo
*.userprefs
*.pidb
*.svclog
*.pdb

*.db
*.db-shm
*.db-wal
*.apk
*.aab
*.ap_
*.keystore
*.jks
*.mobileprovision

_ReSharper*/
*.DotSettings.user
.idea/

src/FoodTrack.Mobile/.gradle/
src/FoodTrack.Mobile/.android/
src/FoodTrack.Mobile/*.keystore
